<div class="card shadow mt-4 ">
    <div class="row g-0">
      <figure class="col-12 col-md-6">
        <img [src]="post.img" class="card-img-top mt-4" [alt]="post.title">
      </figure>
      <div class="col-12 col-md-6">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h1 class="card-title">{{post.title}}</h1>
                               
            </div>
              <div class="d-flex justify-content-end">
                <a class="btn btn-outline-dark text-black" [routerLink]="['/home']">Home</a>
              </div>
                <hr>
                <p class="card-text">Autor: <strong>{{post.author}}</strong></p>
                <p class="card-text">{{post.text}}</p>
                <p class="card-text">{{post.date}}</p>
                <p class="card-text">{{category.title}}</p>


                
  
            <div class="m-4">
                <router-outlet></router-outlet>
            </div>
        </div>
  
      </div>
    </div>
</div>
  
